@use "../mixin";

.details {
  min-height: 80vh;

  &__content {
    padding: 20px 20px;
    border-bottom: 1px solid;
  }

  &__title {
    font-size: 18px;
  }

  &__location {
    font-size: 12px;
    color: rgb(111, 111, 111);
    padding-bottom: 5px;
  }

  &__rating {
    background-color: blue;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: none;
  }

  &__num {
    vertical-align: sub;
  }

  &__price {
    font-size: 16px;
    padding-bottom: 20px;
  }
  &__number {
    font-weight: bold;
    font-size: 24px;
  }

  &__btn {
    @include mixin.button;
  }

  &__overview {
    padding: 20px;
  }

  &__heading {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .details {
    padding: 40px;

    &__title {
      font-size: 24px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      max-width: 900px;
      margin: 0 auto;
    }

    &__content {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: none;
    }

    &__image-container {
      order: 1;
      place-self: center;
      overflow: hidden;
    }

    &__image {
      border-radius: 5px;
    }

    &__overview {
      order: 1;
      padding: 20px 0;
    }
  }
}
