@use "../mixin";

.enquiries {
  padding: 20px;
  min-height: 78vh;

  &__link {
    color: blue;
    text-decoration: none;
  }

  &__search {
    max-width: 300px;
    margin-top: 20px;
  }

  &__input {
    width: 100%;
    padding: 5px;
  }

  &__container {
    margin-top: 20px;
    font-size: 14px;
    max-width: 300px;
    color: black;

    div {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    margin-right: 10px;
    font-weight: bold;
  }

  &__output {
    padding: 5px 0;
  }

  &__total {
    font-weight: bold;
  }

  &__btn {
    @include mixin.button;
  }
}

@media (min-width: 768px) {
  .enquiries {
    padding: 40px;
    min-height: 87vh;

    &__search {
      margin-top: 40px;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      background-color: #e2e8eb;
      padding: 10px;
      border-radius: 5px;
      max-width: none;
      align-items: center;
      margin-top: 40px;

      div {
        margin: 0 10px;
        flex-direction: column;
      }
    }

    &__total {
      border-bottom: none;
    }

    &__btn {
      width: 60px;
      height: 40px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
