@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$primaryColor: #13225d;
$contrastColor: #d54808;
$successColor: #4bb543;
$errorColor: #ff3333;

$headerFont: "Montserrat", sans-serif;
$primaryFont: "Lato", sans-serif;
